:root {
    --frl-prymary: #1abc9c;
    --frl-secondary: #2c3e50;
    --frl-accent: #333333;
    --frl-white: white;
    --frl-footer: #3a546d;
}

img {
    max-width: 100%;
}

a{
    color: var(--frl-white);
    text-decoration: none;
}

/* Nav */

nav {
    background-color: var(--frl-secondary);
    height: 50px;
    color: var(--frl-white);
}

/* End Nav */


/* Utilities */

hr {
    width: 12%;
    border: 1px solid white;
    opacity: 1;
}



h1,
h2,
h3,
h4,
h5 {

    margin-bottom: 0;
}

.decor {
    width: 100%;
}

.jumbotron,
.portfolio,
.about,
.contacts,
.info,
.copy {
    padding: 2.5rem 0;
}


.blue-decor {
    color: var(--frl-secondary);
}

.blue-decor hr {
    border: 1px solid var(--frl-secondary);
}

.blue_title {
    text-align: center;
}

.col-12 {
    padding-bottom: 1rem;
}

.about .container , .contacts .container {
    padding: 0 6rem;
}

/* End Utilities */

/* Jumbo */


.jumbotron {
    text-transform: uppercase;
}


.jumbotron,
.about {
    background-color: var(--frl-prymary);
    color: var(--frl-white);
}

.jumbotron img {
    width: 100px;
}

/* End Jumbo */

/* About */

.about h2 {
    text-align: center;
}

/* Footer */

footer {
    color: var(--frl-white);
}

footer p {
    margin: 0;
}

.info {
    background-color: var(--frl-footer);

}

.info_title{
    font-size: 1.2rem;
}


.copy {
    background-color: var(--frl-secondary);
}

.copy p {
    margin: 0;
    text-align: center;

}

.circle {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
}

.marked {
    color: var(--frl-prymary);
}